:root {
  --text-dark: #212529;
  --text-light: #f8f9fa;
  --bg-light: #d0d0d0;
  --bg-dark: #060513;
  --text-font: "Outfit";  
  --section-divider: #a1a1a1;
}

/* webpage */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-light);
  color: var(--text-dark);
  font-family: var(--text-font); 
}

.full-content {
  padding: 3% 15% 0;
}

.title-image {
  width: 10rem;
  border-radius: 100%;
  border: 2px solid var(--text-dark);
  transform: rotate(-10deg);
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
}

.btn-dark:hover {
  background: transparent;
  color: var(--text-dark);
} 

/* navigation bar */
.navigation-bar {
  padding: 0 0 4.5rem;
  visibility: hidden;
}

.nav-link {
  font-size: 1.2rem;
  opacity: 0.7;
}

/* title buttons */
.title-button {
  margin: 2% 2% 5% 0;
}

/* features */

#features {
  padding: 7% 0;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

h3 {
  font-weight: 700;
}

p {
  font-weight: 200;
}

/* phone responsiveness */
@media only screen and (max-width: 860px) {
  *{  
    background-color: var(--bg-light);
  }

  #title {
    text-align: center;
  }

  .title-image {
    width: 12rem;
  }
}
