:root {
  --text-dark: #212529;
  --text-light: #f8f9fa;
  --bg-light: #d0d0d0;
  --bg-dark: #060513;
  --text-font: "Outfit";  
  --section-divider: #a1a1a1;

  /* --github-white-font: #f0f3f6;
  --github-dark-mode: #0a0c10;
  --onurgur-blue-bg: #04091b; */
  /* --onurgur-blue-hints: # */
}